<!doctype html>
<html>

    <head>
        
        <!-- Page Meta -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Hello, world!</title>

        <!-- Styles -->
        <link rel="stylesheet" href="assets/css/main.css" />
    </head>

    <body>

        <!-- Main Content -->
        <main class="section">
            <div class="container">

                <!-- Title -->
                <h1 class="title is-1">Hello, world!</h1>

                <!-- Subtitle -->
                <h4 class="subtitle is-4">We're running using <a href="https://nodejs.org/" target="_blank">Node.JS</a>, <a href="http://expressjs.com/" target="_blank">Express.JS</a>, and <a href="https://bulma.io/" target="_blank">Bulma</a>.</h4>

            </div>
        </main>

    </body>

</html>