<!doctype html>
<html>

<head>

    <!-- Page Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SisterFricker69 Discord Server</title>

    <!-- Styles -->
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar is-primary is-spaced" role="navigation" aria-label="main navigation">
        
         <!-- Navbar Menu (Tablet/Desktop) -->
         <div class="navbar-menu columns is-hidden-touch">
            <div class="navbar-start">

                <a class="column navbar-item has-text-centered">
                    About
                </a>

                <a class="column navbar-item has-text-centered">
                    Discord
                </a>

                <!-- Navbar Brand -->
                <a class="column navbar-item has-text-centered is-narrow" href="/">
                    <h3 class="title is-3 is-family-secondary">SisterFricker69</h3>
                </a>

                <a class="column navbar-item has-text-centered">
                    Minecraft
                </a>

                <a class="column navbar-item has-text-centered">
                    Mod Applications
                </a>

            </div>
        </div>
        
        <!-- Navbar Brand (mobile) -->
        <div class="navbar-brand is-hidden-desktop">
            <a class="navbar-item" href="/">
                <h3 class="title is-3 is-family-secondary has-text-white">
                    SisterFricker69
                </h3>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <!-- Navbar Menu (mobile) -->
        <div class="navbar-menu is-hidden-desktop">
            <div class="navbar-start">
                <a class="navbar-item">
                    About
                </a>

                <a class="navbar-item">
                    Discord
                </a>

                <a class="navbar-item">
                    Minecraft
                </a>

                <a class="navbar-item">
                    Mod Applications
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="button is-primary">
                        Join Now!
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Hero -->
    <section class="hero is-dark is-medium">
        <div class="hero-body">
            <div class="container">

                <!-- Columns -->
                <div class="columns is-vcentered">
                    <div class="column">

                        <h1 class="title is-1 is-family-secondary">
                            Welcome to the greatest Discord server you will ever find!
                        </h1>

                        <h4 class="is-4" style="font-size: calc(0.5vw + 1rem);">
                            Well, at least we think it is.
                        </h4>
                        
                    </div>
                    
                    <div class="column">
                        
                        <figure class="image hero-image">
                            <img src="/assets/images/Server">
                        </figure>

                    </div>
                </div>

            </div>
        </div>
    </section>


</body>

</html>