<!doctype html>
<html>

<head>

    <!-- Page Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SisterFricker69</title>

    <!-- Styles -->
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar is-primary is-spaced" role="navigation" aria-label="main navigation">

        <!-- Navbar Menu (Desktop) -->
        <div class="navbar-menu columns is-hidden-touch">
            <div class="navbar-start">

                <a class="column navbar-item has-text-centered">
                    <b>About</b>
                </a>

                <a href="https://discord.gg/PkHyT9FZPD" class="navbar-item" target="_blank">
                    <b>Discord</b>
                </a>

                <!-- Navbar Brand -->
                <a class="column navbar-item has-text-centered is-narrow" href="/">
                    <h3 class="title is-3 is-family-secondary">SisterFricker69</h3>
                </a>

                <a class="column navbar-item has-text-centered">
                    <b>Minecraft</b>
                </a>

                <a class="column navbar-item has-text-centered">
                    <b>Mod Applications</b>
                </a>

            </div>
        </div>

        <!-- Navbar Brand (Mobile) -->
        <div class="navbar-brand is-hidden-desktop">
            <a class="navbar-item" href="/">
                <h3 class="title is-3 is-family-secondary">SisterFricker69</h3>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <!-- Navbar Menu (Mobile) -->
        <div class="navbar-menu is-hidden-desktop">
            <div class="navbar-start">

                <a class="navbar-item">
                    <b>About</b>
                </a>

                <a class="navbar-item">
                    <b>Discord</b>
                </a>

                <a class="navbar-item">
                    <b>Minecraft</b>
                </a>

                <a class="navbar-item">
                    <b>Mod Applications</b>
                </a>

            </div>
        </div>

    </nav>

    <!-- Hero -->
    <section class="hero is-dark is-medium">
        <div class="hero-body">
            <div class="container">

                <!-- Columns -->
                <div class="columns is-vcentered">
                    <div class="column">

                        <!-- Title -->
                        <h1 class="title is-1 is-family-secondary">
                            Welcome to the greatest Discord server you will ever find.
                        </h1>

                        <!-- Subtitle -->
                        <h4 class="title is-4 has-text-weight-normal" style="font-size: calc(0.5vw + 1rem);">
                            Well, at least we think it is.
                        </h4>

                    </div>
                    <div class="column">
                        
                        <figure class="image hero-image">
                            <img src="/assets/images/hero.png" />
                        </figure>

                    </div>
                </div>

            </div>
        </div>
    </section>

</body>

</html>